<div class="footer-wrapper ">
    <div class="container">
        <div class="row">
            <div class="col logo-col">
                <div class="footer-logo">
                    <object data="assets/logo.svg" id="footer-logo"></object>
                </div>
                <div class="footer-brand-text">
                    <p>TIME PHOTOS</p>
                </div>
            </div>
            <div class="col">
                <div>
                    <p> Duong 16, Xuan Duong Kim Lu</p>
                    <p> 0983 315 310</p>
                    <p> thangbkat@gmail.com</p>
                    <a class="social-logo" href="https://www.facebook.com/thangbkat">
                        <fa-icon [icon]="faFacebook" class="fa-2x" ></fa-icon>
                    </a>
                    <a class="social-logo"  href="https://www.facebook.com/thangbkat">
                        <fa-icon [icon]="faInstagram" class="fa-2x" ></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>