.home-whyus-container {
    padding: 25px 0;
}

.row {
    margin: auto;
    justify-content: space-between;
}

.col-sm {
    padding-left: 0;
    padding-right: 0;
    flex: 0 0 23%;
    background-color: #E0E0E0;
}

.content-box {
    padding: 50px 40px;
}

@media only screen and (max-width:768px) {
    .col-sm {
        flex: 0 0 49%;
    }
    .col-sm {
        margin: 5px 0;
    }
}

@media only screen and (max-width:576px) {
    .row {
        flex-direction: column;
    }
    .col-sm {
        margin: 5px 0;
    }
    .content-box {
        padding: 10px 50px;
    }
}