<div class="home-whyus-container">
    <h2>Tại sao chọn chúng tôi ? </h2>
    <div class="whyus-content">
        <div class="row">
            <div class="col-sm ">
                <div class=" text-center">
                    <fa-icon [icon]="['fas', 'chart-bar' ]" class="fa-3x"></fa-icon>
                    <h5 class=" pt-2">GIÁ CẢ</h5>
                </div>
                <div class="text-justify">Chúng tôi cung cấp dịch vụ đa dạng với nhiều mức giá khác nhau. Mục tiêu của
                    chúng tôi là làm hài lòng mọi phân khúc khách hàng.</div>
            </div>
            <div class="col-sm ">
                <div class=" text-center">
                    <fa-icon [icon]="['fas', 'handshake' ]" class="fa-3x"></fa-icon>
                    <h5 class=" pt-2">CHUYÊN NGHIỆP</h5>
                </div>
                <div class="text-justify">Dịch vụ chuyên nghiệp xuất phát từ niềm tin của khách hàng và kinh nghiệm
                    trong nghề của chúng tôi. </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-sm ">
                <div class=" text-center">
                    <fa-icon [icon]="['fas', 'comments' ]" class="fa-3x"></fa-icon>
                    <h5 class=" pt-2">LẮNG NGHE</h5>
                </div>
                <div class="text-justify">Chúng tôi luôn lắng nghe nhu cầu của khách hàng. Những phản hồi của khách
                    hàng góp phần tạo nên sự thành công của chúng tôi.</div>
            </div>
            <div class="col-sm">
                <div class=" text-center">
                    <fa-icon [icon]="['fas', 'heart' ]" class="fa-3x"></fa-icon>
                    <h5 class=" pt-2">TRÁCH NHIỆM</h5>
                </div>
                <div class="text-justify">Mọi thắc mắc và sai sót đều được chúng tôi giải quyết, dù là nhỏ nhất. Chúng
                    xuất phát từ tiêu chí "Làm khách hàng hài lòng". </div>
            </div>
            <div class="col-sm ">
                <div class=" text-center">
                    <fa-icon [icon]="['fas', 'smile-wink' ]" class="fa-3x"></fa-icon>
                    <h5 class=" pt-2">THÂN THIỆN</h5>
                </div>
                <div class="text-justify">Sự thân thiện là chất keo gắn kết chúng tôi và khách hàng. Những vấn đề sẽ
                    được giải quyết dễ dàng nếu chúng ta luôn mỉm cười với nhau. </div>
            </div>
        </div>
    </div>
</div>