@import '../../../colors.scss';

.why-us-content {
    padding: 25px 0 0 0;
}

.row {
    margin: auto;
    justify-content: space-between;
}

.col-sm {
    padding-left: 0;
    padding-right: 0;
    flex: 0 0 23%;
}

.content-box {
    min-height: 350px;
    padding: 40px 30px;
    background: whitesmoke;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.2), 0 4px 6px 1px rgba(0,0,0,.14), 0 1px 7px 1px rgba(0,0,0,.12);
}

@media only screen and (max-width:768px) {
    .col-sm {
        flex: 0 0 49%;
    }
    .col-sm {
        margin: 5px 0;
    }
}

@media only screen and (max-width:576px) {
    .row {
        flex-direction: column;
    }
    .col-sm {
        margin: 5px 0;
    }
    .content-box {
        padding: 10px 50px;
    }
}

.fa {
    color: $primary-dark-color;
}