p {
    margin: 0;
}

.whyus-content {
    text-align: center;
    height: 20vh;
}

.service-col-logo {
    width: 100%;
}

.text-justify {
    text-align: justify;
}
.home-whyus-container {
    padding: 50px 0;
}