<div class="container service-container pt-5 pb-5">
    <h3 class="header-typo letter-space text-black pb-3 text-center">TẠI SAO CHỌN TIME PHOTO ?</h3>
    <div class="service-box pt-5">
        <div class="row">
            <div class="col-sm service-col">
                <div class="service-col-logo text-center">
                    <i class="fa fa-lightbulb-o fa-3x"></i>
                    <h5 class="letter-space pt-2">SÁNG TẠO</h5>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </div>
            </div>
            <div class="col-sm service-col">
                <div class="service-col-logo text-center">
                    <i class="fa fa-bar-chart fa-3x"></i>
                    <h5 class="letter-space pt-2">GIÁ CẢ</h5>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </div>
            </div>
            <div class="col-sm service-col">
                <div class="service-col-logo text-center">
                    <i class="fa fa-handshake-o fa-3x"></i>
                    <h5 class="letter-space pt-2">CHUYÊN NGHIỆP</h5>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-sm service-col">
                <div class="service-col-logo text-center">
                    <i class="fa fa-comment-o fa-3x"></i>
                    <h5 class="letter-space pt-2">LẮNG NGHE</h5>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </div>
            </div>
            <div class="col-sm service-col">
                <div class="service-col-logo text-center">
                    <i class="fa fa-link fa-3x"></i>
                    <h5 class="letter-space pt-2">TRÁCH NHIỆM</h5>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </div>
            </div>
            <div class="col-sm service-col">
                <div class="service-col-logo text-center">
                    <i class="fa fa-heart fa-3x"></i>
                    <h5 class="letter-space pt-2">THÂN THIỆN</h5>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </div>
            </div>
        </div>
    </div>
</div>