<div class="container about-container">
    <h3 class="header-typo letter-space">GIOI THIEU</h3>
    <blockquote class="blockquote text-right">
        <p class="mb-0">Tim mot cau ngan ngu, hay mot cau noi hay hay vao de vao day</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    <div class="introduce-text">
        <p>Phan nay la phan gioi thieu ve cua hang, bao nhieu nam kinh nghiem, lam nhung dich vu gi,
            uy tin chat luong, gia ca cac kieu ra sao. Phan nay khong can dai chi can 2,3 dong la du.
        </p>
    </div>
    <div class="card-deck pt-5">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1550368566-f9cc32d7392d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&h=800&q=80" class="card-img-top" alt="...">
            <div class="img-description text-secondary">
                <p>Khoanh khac hanh phuc cua mot tinh yeu dep</p>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1506538000963-d8753e7eeb30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&h=800&q=80" class="card-img-top" alt="...">
            <div class="img-description text-secondary">
                <p>Tung phut giay  cua con tu khi sinh ra </p>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1498058942544-e1ff4563ac64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&h=800&q=80" class="card-img-top" alt="...">
            <div class="img-description text-secondary">
                <p>Hoai niem ve nhung nguoi di qua doi ta</p>
            </div>
        </div>
    </div>

</div>