<div class="sub-banner-section">
    <div class="container">
    <h3 class="banner-text">GIỚI THIỆU</h3>
    </div>
</div>
<div class="container section-content">
    <div class="about-logo">
        <object data="assets/logo.svg" ></object>
    </div>
    <blockquote class="blockquote text-right">
        <p class="mb-0 text-italic">Khoảnh khắc đẹp sẽ qua đi nếu bạn không chuẩn bị cho nó.</p>
        <footer class="blockquote-footer text-italic">Time-Photos<cite title="Source Title"></cite></footer>
    </blockquote>
    <div >
        <p>Đã có lúc nào đó bạn tự mình hoài niệm về một khoảnh khắc đẹp trong đời chưa ? </p>
        <p> Time-Photos được thành lập dựa trên niềm đam mê với nhiếp ảnh và mong muốn giúp mọi người lưu giữ được những
            khoảnh khắc đẹp nhất trong đời mình. Đó là lý do tại sao chúng tôi chọn Time-Photos, một cái tên mang ý nghĩa
            về cảm xúc theo thời gian được cô đọng lại trong những bức hình. </p> 
        <p>Time-Photos hoạt động chính trong lĩnh vực quay phim và chụp ảnh. Chúng tôi chụp ảnh chân dung, ảnh sự
            kiện, ảnh cưới, ảnh gia đình. Ngoài ra chúng tôi còn cung cấp các dịch vụ liên quan như quay phim sự kiện,
            đặt và in thiệp cưới... </p>
        <p> Tạo ra những bức hình chân thật với những góc máy đa dạng là những gì chúng tôi hướng tới. Với kinh nghiệm
            và sự nhiệt huyết chúng tôi tin tưởng sẽ đáp ứng sự kỳ vọng của khách hàng. </p>
        <p> </p>
        </div>
</div>