<div class="sub-banner-section">
    <div class="container">
    <h3 class="banner-text">DICH VU</h3>
    </div>
</div>
<div class="container section-content">
    <div class="test" > Chúng tôi cung cấp các dịch vụ chụp ảnh cưới,
        ảnh gia đình, ảnh kỷ yếu, ảnh thẻ.... Những gói dịch vụ tương ứng với mức giá phù hợp. Mọi thông tin chi
        tiết về các gói dịch vụ các bạn có thể xem ở phần <a href="#">Dịch Vụ Chụp Hình</a> </div>
    <div class="test" > Quay phim - chụp hình Lễ Thành hôn, lễ vu quy, sự kiện <a href="#">Dịch Vụ Quay Phim</a>  </div>
    <div class="test" > Chúng tôi nhận làm thiệp cưới với nhiều mẫu
        thiệp có sẵn cũng như những mẫu thiệp được thiết kế theo ý nguyện của khách hàng. Danh sách các mẫu
        thiệp `và giá cả các bạn có thể tham khảo ở phần <a href="#">Thiệp Cưới</a> </div>
  

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
</div>
