h3, p, .service-col {
    text-align: center;
}

p {
    margin: 0;
}

.service-content {
    text-align: center;
}

.service-col-logo {
    display: inline-block;
}

.service-col-logo:hover {
    color: black;
    cursor: pointer;
}

.service-container {
    padding: 100px 0 50px 0;
}