<div class="sub-banner-section">
    <div class="container">
    <h3 class="banner-text">LIÊN HỆ</h3>
    </div>
</div>
<div class="container section-content">
  <!--   <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-2">
                    <fa-icon [icon]="faPhone" class="fa-2x"></fa-icon>
                </div>
                <div class="col-10">
                    <p>Điện Thoại</p>
                    <p>(+84) 983 31 5310</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row entry-row">
                <div class="col-2">
                    <fa-icon [icon]="faMarker" class="fa-2x"></fa-icon>
                </div>
                <div class="col-10">
                    <p>Địa Chỉ</p>
                    <p>Đuờng 16, Xuân Duơng, Kim Lũ, Sóc Sơn, Hà Nội</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row entry-row">
                <div class="col-2">
                    <fa-icon [icon]="faEnvelope" class="fa-2x"></fa-icon>
                </div>
                <div class="col-10">
                    <p>Email</p>
                    <p>thangbkat@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row entry-row">
                <div class="col-2"> <a>
                        <fa-icon [icon]="faFacebook" class="fa-2x" href="https://www.facebook.com/thangbkat">
                        </fa-icon>
                    </a></div>
                <div class="col-10">
                    <p>Facebook</p>
                    <p>facebook.com/thangbkat</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-6">
            <img class="shop-img" src="assets/images/shop.jpg" >
        </div>
        <div class="col-md-4">
            <h4>Time Photos</h4>
            <span>Thang Nguyen</span>
            <hr>
            <div>
                <p>Địa Chỉ: Đuờng 16, Xuân Duơng, Kim Lũ, Sóc Sơn</p>
                <p>Điện Thoại: (+84) 983 31 5310</p>
                <p>Email: thangbkat@gmail.com</p>
            </div>
            
            <a class="social-logo" href="https://www.facebook.com/thangbkat">
                <fa-icon [icon]="faFacebook" class="fa-2x" ></fa-icon>
            </a>
            <a class="social-logo"  href="https://www.facebook.com/thangbkat">
                <fa-icon [icon]="faInstagram" class="fa-2x" ></fa-icon>
            </a>
        </div>

    </div>
</div> 