<!-- <div class="container">
    <div class="text-center pt-5">
        <h2 class="display-4 text-dark">Lien He</h2>
        <hr>
        <h4 class="display-4 pt-3 text-secondary"> Thang Nguyen </h4>
        <p class="lead text-secondary pt-2"> Chuyen anh cuoi, anh su kien, anh da ngoai </p>
        <p class="lead text-secondary">D/c: Duong 16, Xuan Duong Kim Lu, Soc Son, Ha Noi</p>
        <p class="lead text-secondary">Phone: 012345678</p>
        <p class="lead text-secondary">Email: thang@gmail.com</p>

    </div>

</div> -->




<div class="container">
    <div class="pb-5 pt-5">
        <h3 class="header-typo letter-space text-black">LIEN HE</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="row">
                <div class="row-6"><i class="fa fa-phone fa-2x"></i></div>
                <div class="row-6">
                    <span>Dien Thoai</span>
                    <span>0123456789</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            One of two columns
        </div>
        <div class="col-3">
            One of two columns
        </div>
    </div>

</div>




<!-- Footer content -->
<div class="pb-2 text-center footer">
    <hr>
    <span class="text-secondary ">Copyright &copy; 2020 | Designed by <a
            href="https://khanhnc.github.io/portfolio/">knc</a></span>
</div>