<div class="container pb-5 pt-5">
    <div class="pb-4">
        <h3 class="header-typo letter-space text-black ">LIÊN HỆ</h3>
        <h4 class="pt-4 text-center page-logo">Time-Photos</h4>
        <hr width="20%">
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row entry-row">
                <div class="col-2">
                    <fa-icon [icon]="faPhone" class="fa-2x"></fa-icon>
                </div>
                <div class="col-10">
                    <p>Điện Thoại</p>
                    <p>(+84) 983 31 5310</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row entry-row">
                <div class="col-2">
                    <fa-icon [icon]="faMarker" class="fa-2x"></fa-icon>
                </div>
                <div class="col-10">
                    <p>Địa Chỉ</p>
                    <p>Đuờng 16, Xuân Duơng, Kim Lũ, Sóc Sơn, Hà Nội</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row entry-row">
                <div class="col-2">
                    <fa-icon [icon]="faEnvelope" class="fa-2x"></fa-icon>
                </div>
                <div class="col-10">
                    <p>Email</p>
                    <p>thangbkat@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row entry-row">
                <div class="col-2"> <a>
                        <fa-icon [icon]="faFacebook" class="fa-2x" href="https://www.facebook.com/thangbkat">
                        </fa-icon>
                    </a></div>
                <div class="col-10">
                    <p>Facebook</p>
                    <p>facebook.com/thangbkat</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Footer content -->
<div class="pb-3 pt-5 text-center footer">
    <hr> <span class="text-secondary ">Copyright &copy; 2020 | Designed by <a style="color:black"
            href="https://khanhnc.github.io/portfolio/">knc</a></span> </div>