@import "../../../colors.scss";

.home-service-container {
    width: 80%;
    padding: 50px 0;
    margin: auto;
}

.home-service-img {
    background-position: center;
    background-size: cover;
}

.child {
    height: 300px;
}

.wedd {
    height: 300px;
}

.portrait {
    height: 400px;
}

.service-header {
    text-align: center;
    padding: 20px 0 50px 0;
}

@media only screen and (max-width: 574px) {
    
    .odd-row {
        flex-direction: column-reverse;
    }

    .service-details {
        padding-top:20px;
    }

}