<div class="section-content home-service-container">
    <div class="service-header">
        <h1>TIME PHOTOS</h1>
        <h4>Luu lai khoanh khac cua ban va nguoi than</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="home-service-img child">
            </div>
        </div>
        <div class="col-sm-8">
            <h4>Ảnh Cưới</h4>
            <hr class="header-line">
            <div class="pb-2">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</span>
            </div>
            <a type="button" class="btn primary-button" style="color:white">Tìm Hiểu Thêm</a>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-sm-8">
            <h4>Ảnh Cưới</h4>
            <hr class="header-line">
            <div class="pb-2"> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</span></div>
            <a type="button" class="btn primary-button" style="color:white">Tìm Hiểu Thêm</a>
        </div>
        <div class="col-sm-4">
            <div class="home-service-img wedd"></div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-sm-4">
            <div class="home-service-img portrait"></div>
        </div>
        <div class="col-sm-8">
            <h4>Ảnh Cưới</h4>
            <hr class="header-line">
            <div class="pb-2">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</span>
            </div>
            <a type="button" class="btn primary-button" style="color:white">Tìm Hiểu Thêm</a>

        </div>
    </div>
</div>