<div class="gallery-container">
    <h3>ẢNH</h3>
    <hr>
    <div class="row">
        <div class="column">
            <div class="cell" (click)="openModal();currentSlide(0)">
                <img src="assets/images/gallery/potriat3.jpg">
                <div class="cell-overlay"> </div>
            </div>

        </div>
        <div class="column">
            <div class="cell" (click)="openModal();currentSlide(1)">
                <img src="assets/images/gallery/gallery2.jpg">
                <div class="cell-overlay"></div>
            </div>
            <div class="cell" (click)="openModal();currentSlide(2)">
                <img src="assets/images/gallery/gallery3.jpg">
                <div class="cell-overlay"></div>
            </div>

        </div>
        <div class="column">
            <div class="cell" (click)="openModal();currentSlide(3)">
                <img src="assets/images/gallery/potriat2.jpg">
                <div class="cell-overlay"></div>

            </div>

        </div>
        <div class="column">
            <div class="cell" (click)="openModal();currentSlide(4)">
                <img src="assets/images/gallery/gallery5.jpg">
                <div class="cell-overlay"></div>

            </div>
            <div class="cell" (click)="openModal();currentSlide(5)">
                <img src="assets/images/gallery/gallery6.jpg">
                <div class="cell-overlay"></div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="imgModal" tabindex="-1" role="dialog">
    <button type="button" class=" close close-btn" data-dismiss="modal" aria-label="Close"> &times;
    </button>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="carousel-content">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item " *ngFor="let i of list_imgs; let index = index;"
                                [ngClass]="{'active': index === 1}"> <img class="d-block" [src]="i.link">
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>