<div class="gallery-container">
    <div class="pb-5">
        <h3 class="header-typo letter-space">ẢNH</h3>
        <p class="pb-3 pt-3">Nhung buc anh chon loc duoc chung toi ghi lai bang .... </p>
    </div>
    <div>
        <ul id="rig">
            <li *ngFor="let i of list_imgs">
                <a class="rig-cell" href="#">
                    <img class="rig-img" [src]="i.link">
                    <span class="rig-overlay"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="contact-link-box">
        <div class="pt-5 pb-5">
            <p class="text-white">Bạn muốn lưu lại khoảnh khắc đẹp  trong đời ?</p>
            <button type="button" class="btn btn-outline-secondary contact-button mt-3" pageScroll href ="#contact">Liên Hệ</button>
        </div>
    </div>
</div>