<div class="home-container">
    <app-navigation></app-navigation>
    <div class="overlay">
        <div class="landing-text">
            <h3 class="display-4">THANG STUDIO</h3>
            <hr>
            <div class="landing-subtext">
                ANH NGHE THUAT | ANH CUOI | ANH GIA DINH | ANH BE 
            </div>
        </div>
    </div>
  </div>
<app-about id = 'about'></app-about>
<app-gallery id='gallery'></app-gallery>
<app-service id ='service'></app-service>
<app-contact id='contact'></app-contact>
<!-- <app-service id ='service'></app-service> -->