<div class="home-container" id="home">
    <app-navigation></app-navigation>
    <div class="overlay">
        <div class="landing-text">
            <h3 class="display-4">TIME PHOTOS</h3>
            <hr>
            <div class="landing-subtext">
                <span>ẢNH CHÂN DUNG </span>
                <span class="subtext-space">|</span>
                <span>ẢNH CƯỚI </span>
                <span class="subtext-space">|</span>
                <span>ẢNH GIA ĐÌNH </span>
            </div>
        </div>
    </div>
</div>
<app-about id='about'></app-about>
<hr>
<app-service id='service'></app-service>
<hr>
<app-gallery id='gallery'></app-gallery>
<app-whyus></app-whyus>
<hr>
<app-contact id='contact'></app-contact>
<!-- <app-service id ='service'></app-service> -->