.home-video-container {
    padding: 50px 10px;
}

.video-box {
    width: 100%;
    height: 400px;
}

.row {
    margin: 0 !important;
}

.col {
    padding: 0;
}

.col-right {
    margin-bottom: 6px;
}

.video-content {
    background: whitesmoke;
    display: flex;
    padding: 10%;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid #dfe5e5;
}

.row {
    justify-content: space-between;
}

.col-right, .col-left {
    flex: 0 0 49.5%;
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width:576px) {
    .row {
        flex-direction: column;
    }
}

hr {
    width: 100%;
}