<div class="section-content">
    <div class="row">
        <div class="col-sm-6 col-left">
            <iframe class="video-box" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
            </iframe>
        </div>
        <div class="col-sm-6 col-right">
            <div class="video-content">
                <h2>Ghi Hình</h2>
                <hr>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et

                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequa
                </div>
                <div class="pt-2">
                    <a class="btn btn-info">Chi Tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>