<div class="container home-feedback-container">
    <h2>Khách hàng nói gì về chúng tôi ? </h2>
    <div id="textCarouselIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" class="active">
                <div class="d-block w-100 carousel-img">
                    testests
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 carousel-img">
                    fgs
                </div>
            </div>
            
            <a class="carousel-control-prev" href="#textCarouselIndicators" role="button" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </a>

            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </a>
        </div>
    </div>
</div>