<div class="navbar-content">
  <a  routerLink="/" class="navbar-item active-router">Home</a>
  <a  routerLink="" class="navbar-item">News</a>
  <a href="#contact" class="navbar-item">Contact</a>
  <div class="dropdown">
    <a href="#contact" class="navbar-item">
      <div class="dropdown-titel">Contact
        <fa-icon class="dropdown-icon" [icon]="faSortDown"></fa-icon>
      </div>
      <div class="dropdown-content">
        <a href="#news" class=" dropdown-navbar-item">Netestws</a>
        <a href="#contact" class="dropdown-navbar-item  ">tets</a>
      </div>
    </a>
  </div>
  <a href="#contact" class="navbar-item">Contact</a>
</div>
