<div class="navbar-content">
  <a  routerLink="home" class="navbar-item"  routerLinkActive="active-router">Trang Chủ</a>
  <a  routerLink="gioithieu" routerLinkActive="active-router" class="navbar-item">Giới Thiệu</a>
  <div class="dropdown">
    <a  href="javascript:void(0)" class="navbar-item" [routerLinkActive]="['active']">
      <div class="dropdown-titel">Thư Viện 
        <fa-icon class="dropdown-icon" [icon]="faSortDown"></fa-icon>
      </div>
      <div class="dropdown-content">
        <a  routerLink="gioithieu" class=" dropdown-navbar-item">Ảnh</a>
        <a routerLinkActive="active-router"class=" dropdown-navbar-item">Ảnh</a>
        <a routerLinkActive="active-router" class="dropdown-navbar-item">Ghi Hình</a>
      </div>
    </a>
  </div>
  <a routerLink="banggia" routerLinkActive="active-router" class="navbar-item">Bảng Giá </a>
  <a routerLink="lienhe" class="navbar-item">Liên Hệ</a>
</div>
