<ul class="navbar-nav mx-auto">
    <li class="nav-item"> <a class="nav-link"><span class="font-weight-bold">GIỚI
                THIỆU</span></a> </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ẢNH
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
    
    <li class="nav-item"> <a class="nav-link" 
            ><span class="font-weight-bold">LIÊN
                HỆ</span></a> </li>

                <li class="nav-item"> <a class="nav-link" ><span class="font-weight-bold">GIOI THIEU</span></a> </li>
</ul>