@import'../../colors.scss';

.topNavbar {
    background: whitesmoke;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.logo {
    display: flex;
}

.navbar-content {
    line-height: 48px;
    display: flex;
    margin: auto;
}

.navbar-item {
    font-size: 18px;
    color: black;
    padding: 0 10px;
    width: 125px;
    text-align: center;
}

.navbar-item:hover {
    background: $primary-dark-color;
    color: white;
    transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
}

.dropdown-navbar-item:hover {
    background: $primary-dark-color;
    color: white;
}

.dropdown a {
    display: block;
}

.dropdown-content {
    position: absolute;
    display: block;
    background: #f9f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0 -10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.dropdown-navbar-item {
    color: black;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    animation: fade 1s infinite 100ms;
}

.menu-button {
    display: none;
}

@media only screen and (max-width: 969px) {
    .menu-button {
        display: block;
    }
    .navbar-content-responsive {
        display: none;
    }
    .navbar-content {
        flex-direction: column;
    }
    .navbar-content a {
        width: auto;
        color: white;
    }
    .navbar-item:hover, .dropdown-navbar-item:hover {
        background: #eeeeee;
        color: black !important;
        transition: color 0.1s linear;
        -o-transition: color 0.1s linear;
        -ms-transition: color 0.1s linear;
        -moz-transition: color 0.1s linear;
        -webkit-transition: color 0.1s linear;
    }
    .dropdown-content {
        visibility: visible;
        opacity: 1;
        background: #111;
    }
    .dropdown-titel {
        display: none;
    }
    .dropdown-content {
        position: relative;
    }
}

.header-scrolled {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 90px;
    line-height: 90px;
    transition: all .1s;
}

object {
    width: 58px;
}

.logo-name {
    padding-left: 5px;
    font-size: 20px;
    letter-spacing: .15rem;
}

.active-router {
    color: white;
    background-color: $primary-color;
}