.sticky {
    position: fixed !important;
    top: 0 !important;
    z-index: 1;
}

a:hover {
    cursor: pointer;
}

.topNavbar {
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.logo {
    width: 100px;
    text-align: center;
}

.navbar-content {
    line-height: 48px;
    display: flex;
    margin: auto;
}

.navbar-content a {
    padding: 0 30px;
    width: 150px;
    text-align: center;
}

.navbar-item:hover {
    background-color: #212121;
    color: #fafafa;
    transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    -ms-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    -webkit-transition: color 0.25s linear;
}

.dropdown-navbar-item:hover {
    background-color: #9E9E9E;
    color: black;
}

.dropdown a {
    display: block;
}

.dropdown-content {
    position: absolute;
    display: block;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0 -30px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    animation: fade 1s infinite 100ms;
}

.menu-button {
    display: none;
}

@media only screen and (max-width: 969px) {
    .menu-button {
        display: block;
    }
    .navbar-content-responsive {
        display: none;
    }
    .navbar-content {
        flex-direction: column;
    }
    .navbar-content a {
        width: auto;
        color: white;
    }
    .navbar-item:hover, .dropdown-navbar-item:hover {
        background-color: #eeeeee;
        color: black !important;
        transition: color 0.25s linear;
        -o-transition: color 0.25s linear;
        -ms-transition: color 0.25s linear;
        -moz-transition: color 0.25s linear;
        -webkit-transition: color 0.25s linear;
    }
    .dropdown-content {
        visibility: visible;
        opacity: 1;
        background-color: #111;
    }
    .dropdown-titel {
        display: none;
    }
    .dropdown-content {
        position: relative;
    }
}