/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  margin: auto;
  background-color: whitesmoke;
}

html {
  font-family: Helvetica, arial, sans-serif !important;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-dark{
 /* background: transparent !important; */
}

.padding-0{
  padding:0 !important;
}
