@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
    font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #777777;
}

a:hover {
  text-decoration: none;
  color: #777777;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-logo {
  font-family: 'Great Vibes', Arial, cursive;
}

.padding-0 {
  padding: 0 !important;
}

.header-typo {
  font-family: 'DosisRegular', Arial, cursive;
}

.letter-space {
  letter-spacing: .25em;
}

.text-white {
  color: #929292;
}

.text-black {
  color: black;
}

p {
  font-size: 16px !important;
  margin: 0;
}

.header-icon {
  text-align: center;
  vertical-align: middle;
}

.text-italic {
  font-style: italic;
}