<div class="main-wrapper" #mainWrapper id="mainWrapper">

    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li *ngFor="let img of imagesList; let i = index" data-target="#carouselIndicators" data-slide-to="i"
                [ngClass]="{'active': i ===1 }"></li>
        </ol>
        <div class="carousel-inner">
            <div *ngFor="let img of imagesList; let i = index" class="carousel-item" [ngClass]="{'active': i ===1 }">
                <div class="ad-text">
                    <h1>{{ads_text[i]}} </h1>
                    <a type="button" class="btn-lg btn-light">XEM CHI TIẾT</a>
                </div>
                <div class="d-block w-100 carousel-img" [ngStyle]="{'background-image': 'url('+ img + ')'}"></div>
            </div>

            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </a>

            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </a>
        </div>
    </div>
</div>
<app-home-about></app-home-about>