

<div id="myModal" class="modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <img src="assets/images/gallery/gallery3.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/images/gallery/gallery6.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/images/gallery/gallery5.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/images/gallery/gallery4.jpg" style="width:100%">
        </div>

        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>


</div>