<div id="myModal" class="modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="modal-content">
        <div *ngFor="let col of list_imgs">
            <div class="mySlides" *ngFor="let img of col" >
                <modal-item  [link]="img.link" [isVisible]="img.visibleInSlide">
                </modal-item>
            </div>
        </div>
        <a class="prev" (click)="plusSlides(-1)" *ngIf="slideIndex > 0">&#10094;</a>
        <a class="next" (click)="plusSlides(1)" *ngIf="slideIndex < total_imgs" >&#10095;</a>
    </div>
</div>